@import url('../../App.css');
* {
    margin: 0;
    padding: 0;
}

.modal-content {
    width: 402px;
    height: 228px;
    background: #070418;
    border-radius: 11px;
    border: 1px solid white;
}

.inner_dialog_box {
    padding-left: 20px;
    padding-right: 20px;
}

.forgetP_styling {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    color: var(--whiteColor);
    width: 100%;
}

.btn_close_icon{
    color: var(--primaryColor);
    font-size: 22px;
}

.forget_content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
    color: var(--whiteColor);
}

.mail_icon {
    position: absolute;
    top: 52%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--whiteColor);
    font-size: 25px;
}

.forget_style_input {
    width: 100%;
    height: 42px;
    padding-left: 45px;
    border-radius: 8px;
    border: 1px;
    border-color: white;
    background: #1f1c2e;
    margin-top: 8px;
    color: var(--whiteColor);
}

.forget_button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    background: var(--primaryColor);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.005em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}

.forgot_btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.005em;
    margin-top: 30px;
    text-decoration: none;
    color: var(--whiteColor);
    background: none;
    border: none;
}