@import url('../../../App.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.browse_bg{
    background: var(--blackColor);
}

.browse_name {
    font-family: Poppins;
    font-size: 41px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: var(--whiteColor);
}

.explore_name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--greyColor);
}

.card {
    background: none;
    border: none;
    width: 80%;
}

.claming_box {
    height: 70px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    background: var(--darkColor);
}

.claming_name {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}

.explore_btn {
    width: 55%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: var(--primaryColor);
    color: var(--whiteColor);
}