* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.otp_modal-content {
    width: 402px;
    height: 290px;
    background: #070418;
    border-radius: 11px;
    border: 1px solid white;
}

.inner_otp_dialog_box {
    padding-left: 20px;
    padding-right: 20px;
}

.otp_styling {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.otp_content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
}

.otp_style_input {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 8px;
    border: 1px;
    border-color: white;
    background: #1f1c2e;
    margin-top: 8px;
}

.otp_content_one {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;

}

.confirm_button {
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-top: 25px;
}

.confirm_name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.reg_name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
}