@import url('../App.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background: #060317;
}

.header_content {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    cursor: pointer;
    color: var(--whiteColor);
}

.join_H_button {
    width: 116px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: var(--primaryColor);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}

.bell_icon{
    color: var(--whiteColor);
}

.navbar-toggler-icon{
    color: var(--whiteColor);
}